# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

g_key

'AIzaSyCxJEoCpHUs9myVlPdA6h9sS3pUyPHbO5A'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [41]:

city_data_df = pd.read_csv('../WeatherPy/city_weather.csv')

city_data_df.head(10)

,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Clouds,Wind
0,Mar del Plata,AR,-38.0023,-57.5575,48.22,48.22,53,0,4.61
1,Albany,US,42.6001,-73.9662,81.10,84.67,71,81,1.01
2,Thinadhoo,MV,0.5333,72.9333,81.54,81.54,74,70,5.53
3,Hasaki,JP,35.7333,140.8333,75.60,75.60,82,85,7.27
4,Mataura,NZ,-46.1927,168.8643,43.48,43.48,97,19,3.09
5,Bengkulu,ID,-3.8004,102.2655,74.79,74.79,91,99,4.29
6,Karratha,AU,-20.7377,116.8463,62.64,62.64,46,0,15.79
7,Broken Hill,AU,-31.9500,141.4333,62.31,62.31,22,0,16.11
8,Evensk,RU,61.9500,159.2333,56.61,56.61,73,76,3.29
9,Gamba,GA,-2.6500,10.0000,75.25,75.25,84,40,5.50

In [21]:
 # #<!--  Humidity Heatmap
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
 #Add Heatmap layer to map. -->

gmaps.configure(api_key=g_key)

In [22]:
# APIs 3-7
locations = city_data_df[["Latitude","Longitude"]]

humidity = city_data_df["Humidity"]
max_humidity = humidity.max()


                         
                         
humidity

0      53
1      71
2      74
3      82
4      97
       ..
533    95
534    79
535    98
536    75
537    88
Name: Humidity, Length: 538, dtype: int64

In [23]:
fig = gmaps.figure()                         
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10,point_radius=1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
ideal_vacay = city_data_df.loc[(city_data_df["Max Temperature"] < 82) &
                               (city_data_df["Max Temperature"] > 67) &
                                (city_data_df["Wind"] < 11) & 
                                (city_data_df["Clouds"] < 20)]
# ideal_vacay.head()

ideal_vacay = ideal_vacay.dropna()

ideal_vacay.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Clouds,Wind
53,53,Ribeira Grande,PT,38.5167,-28.7000,73.20,73.20,85,17,9.57
62,62,Denizli Province,TR,37.8402,29.0698,81.45,81.45,40,0,5.73
97,97,Boysun,UZ,38.2061,67.1986,72.99,72.99,21,0,4.68
101,101,Ovalle,CL,-30.5983,-71.2003,70.99,70.99,29,0,5.28
105,105,Asău,RO,46.4333,26.4000,62.35,68.76,85,2,3.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
hotel_df = ideal_vacay

# hotel_df.head()
hotel_df["Hotel Name"] = ""

# hotel_df.head()

# params = {"key":g_key}

# params
hotel_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Clouds,Wind,Hotel Name
53,53,Ribeira Grande,PT,38.5167,-28.7000,73.20,73.20,85,17,9.57,
62,62,Denizli Province,TR,37.8402,29.0698,81.45,81.45,40,0,5.73,
97,97,Boysun,UZ,38.2061,67.1986,72.99,72.99,21,0,4.68,
101,101,Ovalle,CL,-30.5983,-71.2003,70.99,70.99,29,0,5.28,
105,105,Asău,RO,46.4333,26.4000,62.35,68.76,85,2,3.76,

In [37]:
# Activity 3-3 -- 3-5
        
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"]=f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel = requests.get(url, params=params).json()
    
    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
                                              
    except:
                                                  
        print("missing field")
                                                  
        hotel_df.loc[index, "Hotel Name"] = "NaN"

missing field
missing field

In [38]:
hotel_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Clouds,Wind,Hotel Name
53,53,Ribeira Grande,PT,38.5167,-28.7000,73.20,73.20,85,17,9.57,NaN
62,62,Denizli Province,TR,37.8402,29.0698,81.45,81.45,40,0,5.73,Park Dedeman Denizli Hotel
97,97,Boysun,UZ,38.2061,67.1986,72.99,72.99,21,0,4.68,Gaza Hotel
101,101,Ovalle,CL,-30.5983,-71.2003,70.99,70.99,29,0,5.28,Hotel Keo
105,105,Asău,RO,46.4333,26.4000,62.35,68.76,85,2,3.76,Pensiunea Sophia

In [39]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [42]:
# Add marker layer ontop of heat map

# Marker activity 3-9 APIs

# markers =


# Display figure